@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';

@font-face {
    font-family: Kapakana;
    src: url(/src/font/Kapakana.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: variables.$color2;
    list-style: none;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid variables.$color2;
    padding-bottom: 2em;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}